If:
  PathMatch: servers/.*

CompileFlags:
  Add: [-xc++, -Wall, -std=c++17]
  CompilationDatabase: build/servers

---

If:
  PathMatch: source/.*

CompileFlags:
  Add: [-xc++, -Wall, -std=c++17]
  CompilationDatabase: build

---

If:
  PathMatch: api/.*

CompileFlags:
  Add: [-xc++, -Wall, -std=c++17]
  CompilationDatabase: build

---

If:
  PathMatch: donde/.*

CompileFlags:
  Add: [-xc++, -Wall, -std=c++17]
  CompilationDatabase: build

---

If:
  PathMatch: tests/.*

CompileFlags:
  Add: [-xc++, -Wall, -std=c++17]
  CompilationDatabase: build/tests


---

If:
  PathMatch: [include/.*, source/.*]

CompileFlags:
  CompilationDatabase: build